.button{

}
.button--ghost{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5px 30px;
    border-radius:5rem;
    color:var(--color-button);
    font-family: var(--font-text);
    border:var(--button-radius);
}
.button--primary{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    padding:15px 30px;
    border-radius:5rem;
    font-family:var(--font-text);
    font-size: 12px;
    font-weight: bold;
    background-color: var(--color-button);
}
