@use '../mixins/responsive.scss' as *;
.logo{
    align-items: center;
    width:100px;
}
.mockups{
    width: 280px;
    align-items: center;
    margin-top:40px;
    @include responsive(desktop) {
width: 700px;
    }
}
.photo{
    margin:0 auto;
    align-items: center;
    @include responsive(desktop) {
        align-items: center;
        width: 440px;
        position: relative;
        top:90px;
            }
}
.together{
    @include responsive(desktop) {
        grid-column:2/3;
        align-items: center;
    
    }
}
.conversation{
    @include responsive(desktop) {
        grid-column:1/2;
        align-items: center;
        position: relative;
        top:150px;
    }
}
.users{
    @include responsive(desktop) {
        grid-column:2/3;
        align-items: center;
        position: relative;
        top:120px;
    }
}