@use '../mixins/responsive.scss' as *;
.message {
  width: 352px;
  height: 176px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -100px;
  left: 25px;
  border-radius: 1rem;
  gap: 20px;
  background-color: rgb(244, 244, 244);
  @include responsive(desktop) {
    width: 800px;
    align-items: center;
    left: 300px;
  }
  &__title {
    font-size: 18px;
    font-family: var(--font-title);
    color: var(--color-text);
  }
}
